// @import "./_variables";
@import "./variables";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $rubik;
	color: $black;
}

.wrapper {
	.header {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 100;
		background: white;
		padding-inline: 1.2em;
		padding-block: 0.5em;

		img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
		}
	}

	.bottom-nav {
		position: absolute;
		bottom: 10px;
		margin-left: 10px;
		z-index: 100;
		display: flex;
		background: $light-gray;
		justify-content: space-between;
		width: 95lvw;
		padding: 10px;
		border-radius: 15px;

		img {
			background: $dark-orange;
			padding: 10px;
			border-radius: 50%;
		}
	}
	.hero {
		background: url(../../assets/images/illustration.jpg) no-repeat;
		background-size: cover;
		height: 180px;
		padding: 20px;
		border-radius: 10px;
	}

	.container {
		position: relative;
		padding-inline: 1.2em;

		.intro {
			overflow-x: scroll;
			width: 100vw;
			margin-left: -1.2rem;
			scroll-snap-type: mandatory;
			padding-left: 1.2rem;
			padding-right: 1rem;

			a {
				text-decoration: none;
				background: $light-gray;
				padding: 5rem 5rem;
				border-radius: 7px;
				font-weight: bold;
				font-size: larger;
				color: #f5672f;
			}
		}
	}

	.btn {
		font-family: $rubik;
		text-transform: capitalize;
		letter-spacing: 1px;
		background: $dark-orange;
		padding: 1em;
		border-radius: 1em;
		margin-top: 1em;

		&:hover {
			background: $dark-orange;
		}
	}

	.form {
		// margin-top: 5em;
		background: whitesmoke;
		padding-inline: 2rem;
		padding-block: 1px;
		margin-top: -4em;
		z-index: 2;
		position: relative;
		border-top-left-radius: 2em;
		border-top-right-radius: 2em;
		height: 70lvh;

		p {
			color: rgb(167, 164, 164);
			font-size: 1em;
		}

		a {
			text-decoration: none;
			color: $dark-orange;
		}
	}

	// .main {
	.link {
		padding-block: 20px;
		padding-inline: 30px;
		background-color: red;
	}
	// }
}
