// @import "./_variables";
@import "./variables";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $rubik;
	color: $black;
}

.wrapper {
	.header {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 100;
		background: white;
		padding-inline: 1.2em;
		padding-block: 0.5em;

		img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
		}
	}

	.bottom-nav {
		position: absolute;
		bottom: 10px;
		margin-left: 10px;
		z-index: 100;
		display: flex;
		background: $light-gray;
		justify-content: space-between;
		width: 95lvw;
		padding: 10px;
		border-radius: 15px;

		img {
			background: $dark-orange;
			padding: 10px;
			border-radius: 50%;
		}
	}
	.hero {
		background: url(../../assets/images/illustration.jpg) no-repeat;
		background-size: cover;
		height: 180px;
		padding: 20px;
		border-radius: 10px;
	}

	.container {
		position: relative;
		padding-inline: 1.2em;

		a {
			text-decoration: none;
			// color: $black;
			background: $light-gray;
			padding: 8px 12px;
			border-radius: 5px;
		}
	}

	.btn {
		font-family: $rubik;
		text-transform: capitalize;
		letter-spacing: 1px;
		background: $dark-orange;
		padding: 1em;
		border-radius: 1em;
		margin-top: 1em;

		&:hover {
			background: $dark-orange;
		}
	}

	.form {
		// margin-top: 5em;
		background: whitesmoke;
		padding-inline: 2rem;
		padding-block: 1px;
		margin-top: -4em;
		z-index: 2;
		position: relative;
		border-top-left-radius: 2em;
		border-top-right-radius: 2em;
		height: 70lvh;

		p {
			color: rgb(167, 164, 164);
			font-size: 1em;
		}

		a {
			text-decoration: none;
			color: $dark-orange;
		}
	}
}
