@font-face {
  font-family: rubik;
  src: url("../../assets/font/Rubik-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: rubik;
}

.container .btn {
  font-family: rubik;
  text-transform: capitalize;
  letter-spacing: 1px;
  background: #f5672f;
  padding: 1em;
  border-radius: 1em;
  margin-top: 1em;
}
.container .btn:hover {
  background: #f5672f;
}
.container .form {
  background: whitesmoke;
  padding-inline: 2rem;
  padding-block: 1px;
  margin-top: -4em;
  z-index: 2;
  position: relative;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  height: 70lvh;
}
.container .form p {
  color: rgb(167, 164, 164);
  font-size: 1em;
}
.container .form a {
  text-decoration: none;
  color: #f5672f;
}